.gpt5__blog {
    display: flex;
    flex-direction: column;
}
.gpt5__blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}
.gpt5__blog-heading h1 {
    font-family: var(--font-family);
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -2%;
}
.gpt5__blog-container {
    display: flex;
    flex-direction: row;
}
.gpt5__blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}
.gpt5__blog-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 990px) {
    .gpt5__blog-container {
        flex-direction: column-reverse;
    }
    .gpt5__blog-container_groupA {
        margin: 2rem 0;
    }
    .gpt5__blog-container_groupA .gpt5__blog-container_article {
        width: 48%;
    }
    .gpt5__blog-container_groupA .gpt5__blog-container_article img {
        height: 250px;
    }
}
@media screen and (max-width: 700px) {
    .gpt5__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }
    .gpt5__blog-container_groupA .gpt5__blog-container_article {
        width: 100%;
    }
    .gpt5__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}
@media screen and (max-width: 700px) {
    .gpt5__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}
